
.home_nav{
    margin-top: 2%;
    flex:1;
    text-align: right;
}

h1{
    text-align: center;
    padding-bottom: 5%;
}

h3{
    padding-bottom: 5%;
}

p{
    text-align: justify;
}

.info{
    display:flex;
    flex-direction: row;
    width:100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.info_content{
    color:#fff;
    text-align: justify;
    width:80%;
    margin-right: 70px;
}

.card{
    width: 100%;
    height:400px;
    border-radius:10px;
    background-position:center;
    background-size:cover;
}
.card1{
    background-image:url(./images/info_clock.jpg);
    margin-top: -1%;
    position:left;
}
.card2{
    background-image:url(./images/info_write.jpg);
    margin-top: -1%;
}
.card3{
    background-image:url(./images/info_calender.jpg);
    margin-top: -1%;
}
.card4{
    background-image:url(./images/info_cards.jpg);
    margin-top: -1%;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

  /* Style the buttons that are used to open the tab content */
.info_nav {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color:#fff;
}

  /* Change background color of buttons on hover */

/* Create an active/current info_nav class */
.info_nav.active {
    background-image:linear-gradient(rgba(40, 33, 72, 0.7),rgba(54, 37, 74, 0.7));
    text-align: center;
}

  /* Style the info */
.info {
    display: none;
    padding: 6px 12px;
    border-top: none;
    text-align: justify;
}
.container{
    min-height: 100vh;
}