*{
    margin:auto;
    padding:auto;
}

.container{
    height:100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./images/pexels-pixabay-206359.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right:8%;
    box-sizing:border-box;
    min-height: 100vh;
}

.navbar{
    height:12%;
    display: flex;
    align-items: center;
    transition:transform 0.5s;
}

nav{
    flex:1;
    text-align: right;
    margin-top: 2%;
}

nav ul li{
    list-style:none;
    display:inline-block;
    margin-left:60px;
}

nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 13px;
}
.navbar:hover{
    transform:translateY(-10px);
}

button{
    transition:transform 0.5s;
}

button:hover{
    transform:translateY(-10px);
}

.row{
    display: flex;
    height:88%;
    align-items:center;
}
.col{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

h1{
    color:#fff;
    font-size: 60px;
}
h4{
    color:#fff;
    font-size: 20px;
}

p{
    color:#fff;
    font-size: 22px;
    line-height:1.5;
}

.button{
    width: 180px;
    color:#000;
    font-size:18px;
    padding:12px;
    background:#fff;
    border:0;
    border-radius:20px;
    outline: none;
    margin-top:30px;
    text-decoration:none;
    text-align: center;
}

.button:hover{
    background-image:linear-gradient(rgba(40, 33, 72, 0.7),rgba(54, 37, 74, 0.7));
}

.card{
    width:150px;
    height:180px;
    display:inline-block;
    border-radius:10px;
    padding:15px 25px;
    box-sizing:border-box;
    cursor:pointer;
    margin:10px 15px;
    background-position:center;
    background-size:cover;
    transition: transform 0.5s;
    color:#fff
}

.card:hover{
    transform:translateY(-10px);
}


.card1{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/pexels-joseph-redfield-2277923.jpg);
}

.card3{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/pexels-karolina-grabowska-4476376.jpg);
}

.card2{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/pexels-dids-2969925.jpg);
}
.card4{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/pexels-nataliya-vaitkevich-6863531.jpg);
}