*{
    margin:auto;
    padding:auto;
}

.container{
    height:100%;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./images/pexels-pixabay-206359.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right:8%;
    box-sizing:border-box;
    min-height: 150vh;
}

p{
    text-align: justify;
    margin-bottom: 5%;
}

li{
    text-decoration: none;
}