*{
    margin:auto;
    padding:auto;
}

.container{
    height:100%;
    max-width: 1280px;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./images/pexels-pixabay-206359.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right:8%;
    box-sizing:border-box;
}

.navbar{
    height:12%;
    display: flex;
    align-items: center;
    transition:transform 0.5s;
}

nav{
    flex:1;
    text-align: right;
    margin-top: 2%;
}
section{
    margin-top: 5%;
    margin-left: auto;
    margin-right:auto;
    display:flex;
    justify-content: center;
}

nav ul li{
    list-style:none;
    display:inline-block;
    margin-left:60px;
}

nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 18px;
}
.navbar:hover{
    transform:translateY(-10px);
}
button{
    transition:transform 0.5s;
}

button:hover{
    transform:translateY(-10px);
}
.row{
    height:88%;
    align-items:center;
}
.col{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}
h1{
    color:#fff;
    font-size: 60px;
    text-transform: uppercase;
}
h4{
    color:#fff;
    font-size: 20px;
}

p{
    color:#fff;
    font-size: 22px;
    line-height:1.5;
}
h3{
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
}
.button{
    width: 180px;
    color:#000;
    font-size:18px;
    padding:12px;
    background:#fff;
    border:0;
    border-radius:20px;
    outline: none;
    margin-top:30px;
    text-decoration:none;
    text-align: center;
}