

h1{
    text-align: center;
}

p{
    text-align: center;
    margin-bottom: 5%;
}

.time{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.wrapper{
    position: relative;
    color:#fff;
    text-align: center;
    margin: 0 auto;
    display:block;
    width: 100%;
    height: 240px;
}
.line_area{
    display: block;
    width: 80%;
    height: 5px;
    background: #fff;
    position: absolute;
    top: 15%;
    left: 10%;
}
.line_area_7{
    display: block;
    width: 45%;
    height: 5px;
    background: #fff;
    position: absolute;
    top: 15%;
    left: 26%;
}
.line_area_14{
    display: block;
    width: 65%;
    height: 5px;
    background: #fff;
    position: absolute;
    top: 15%;
    left: 16%;
}

.wrapper .time_line_area{
    height: 100%;
}
.single_item{
    width:6%;
    display: inline-block;
    position: relative;
    height: 100%;
    margin-right: 30px;
    transition: width .5s;
    z-index: 1;
    top: -37%;
}
span{
    line-height: 30px;
}
.single_item > span{
    height:32px;
    display: block;
    font-weight: bold;
    position: absolute;
    top: 50%;
    margin-top: 0px;
    width: 100%;
    cursor:pointer;
}

.single_item > span:before{
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 auto 0px;
    border-radius: 50%;
    background: #fff;
}

.check_line{
    display:flex;
    flex-direction: row;
    margin-top: 10%;
    justify-content: space-between;
    padding-left: 30%;
    padding-right:35%
}
.container{
    min-height: 100vh;
}