h1,p{
    text-align:center;
    color:white;
}

body {
    background-color: #79BABD;
}

.header_rectangle{
    width: 1250px;
    height:70px;
    align-self: top;
    background-color:#03989E;
}

h1{
    font-style:oblique;
    margin-top:10px;
}

.heart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
    height:30px;
}

.bird{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
    height:90px;
    margin-top:50px
}