body {
  height:100%;
  width:100%;
  background-image: linear-gradient(to left, blue, turquoise);
  font-family: 'Josefin Sans', sans-serif;
  color:white;
}
main{
  width: 100vw;
  display: flex;
  flex-direction: row;
}
section {
  margin: 5rem 2rem;
  text-align:justify;
}

.flex_list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-list > p{
  width: 60%;
}
.flex-center{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.img{
  width:30%;
  height:20%;
}
h1{
  text-align:center;
  color:white;
  font-style:oblique;
}
.btn-link{
  color: #FFF;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 0px;
  padding: 12px 18px;
  margin: auto;
  text-decoration: none;
}
.header_rectangle{
  width: 100vw;
  height:10px;
  align-self:top;
  background-color:#03989E;
}
.heart {
  display: block;  margin-left: auto;
  margin-right: auto;
  width:100px;
  height:30px;
}

.bird{
  display: block;
  margin:auto;
  width:100px;
  height:90px;
}

.flex_container {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display:flex;
}
.text_box {
  flex-direction: row;
}
.bird_2{
    margin-top:50px;
    align-self:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
    height:90px;
    size: 25px;
}

.list{
    color:white;
}

.box_center{
    margin-top: 10%;
}
.button{
    border-radius:25px;
    width: 85px;
    height:35px;
    margin-bottom:30px;
    background-color:#087B80;
    display: block;
    margin-right: 1100px;
    margin-left: 1100px;
}

.text_box_big {
    border-radius:25px;
    width: 500px;
    height:200px;
    margin: 50px auto auto auto;
    background-color:#03989E;
    display: block;
    padding-top: 5rem;
    flex-direction: row;
    text-align: center;
    
}

.paragraph{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.clock {
    border-radius:25px;
    width: 200px;
    height:150px;
    margin-top: 50px;
    background-color:#03989E;
    display:block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    text-align: center;
}

.timer{
  font-family: sans-serif;
  display:inline-block;
  padding:24px 32px;
  border-radius: 30px;
  background-color:#03989E;
}

.timer__part{
  font-size:36px;
  font-weight:bold;

}

.timer__btn{
  width:50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 50%;
  border:none;
  color:#79BABD;
  background: pointer;
}