body {
    background-color: #79BABD;
    font-family: 'Josefin Sans', sans-serif;
}

h1,p{
    text-align:center;
    color:white;
}
.header_rectangle{
    width: 100vw;
    height:70px;
    align-self:top;
    background-color:#03989E;
}

h1{
    font-style:oblique;
    margin-top:10px;
}

.heart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
    height:30px;
}

.bird{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
    height:90px;
    margin-top:50px
}
.flex_container {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display:flex;
}
.text_box {
    border-radius:25px;
    width: 300px;
    height:250px;
    margin-top: 30px;
    background-color:#03989E;
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
}
.bird_2{
    margin-top:50px;
    align-self:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
    height:90px;
    size: 25px;
}

section {
    height:100vh;
    width:100vw;
}

.list{
    color:white;
}

.box_center{
    margin-top: 30%;
}
.button{
    border-radius:25px;
    width: 85px;
    height:35px;
    margin-bottom:30px;
    background-color:#087B80;
    display: block;
    margin-right: 1100px;
    margin-left: 1100px;
}

.text_box_big {
    border-radius:25px;
    width: 500px;
    height:200px;
    margin-top: 150px;
    background-color:#03989E;
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
}

.paragraph{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
